// Коэффициент перевода в em
$k: 16;

.basket_contacts {
  display: flex;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  color: #33691e;
  flex-direction: column;
  font-size: 14rem/$k;
  padding: 62rem/$k 15rem/$k 15rem/$k 15rem/$k;
  margin-left: 15rem/$k;
  margin-top: 30rem/$k;
  position: relative;
  @media (max-width: 1280px) {
    margin-left: 0;
    padding-left: 24rem/$k;
    padding-right: 24rem/$k;
  }
  label
  {
    position: absolute;
    left: 35rem/$k;
  }
  .contact_fio {
    top: 124rem/$k;
  }
  .contact_city {
    top: 175rem/$k;
  }
  .contact_address {
    top: 224rem/$k;
  }
  .contact_phone {
    top: 273rem/$k;
  }
  .contact_email {
    top: 321rem/$k;
  }
  .contact_password {
    top: 372rem/$k;
  }
  :focus + label
  {
    opacity: 0;
  }
  :not(:placeholder-shown) + label {
    opacity: 0;
  }
  input {
    background-color: #f9fbe7;
    color: #33691e;
    height: 50rem/$k;
    padding-left: 20rem/$k;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .send_order_button {
    margin-top: 66rem/$k;
  }
  @media (max-width: 1920px) {
    .description {
      font-size: 12rem/$k;
    }
    .contact_fio {
      top: 119rem/$k;
    }
    .contact_city {
      top: 170rem/$k;
    }
    .contact_address {
      top: 219rem/$k;
    }
    .contact_phone {
      top: 268rem/$k;
    }
    .contact_email {
      top: 316rem/$k;
    }
    .contact_password {
      top: 367rem/$k;
    }
  }
}