// Коэффициент перевода в em
$k: 16;

.basket_list {
  font-size: 18rem/$k;
  font-weight: normal;
  padding-top: 30em/$k;
  .basket_icon {
    color: #33691e;
    margin-right: 18rem/$k;
    text-align: center;
    height: 36rem/$k;
    width: 36rem/$k;
  }
  h2 {
    text-align: center;
    font-size: 24rem/$k;
    font-weight: normal;
  }
  .items_title {
    color: #33691e;
    font-size: 12rem/$k;
    padding-left: 54rem/$k;
    margin-top: 0;
    margin-bottom: 0;
    span {
      display: inline-block;
      text-align: center;
    }
    .table_title {
      width: 300rem/$k;
      padding-left: 15rem/$k;
    }
    .table_price {
      width: 200rem/$k;
    }
    .table_counter {
      width: 132rem/$k;
    }
    .table_total {
      width: 194rem/$k;
    }
    .table_delete {

    }
  }
  img {
    height: 46rem/$k;
    width: 54rem/$k;
  }
  .item_name, .item_price, .item_full_price {
    display: inline-block;
    color: #33691e;
    text-align: center;
  }
  .item_name {
    width: 300rem/$k;
    padding-left: 15rem/$k;
    text-align: left;
  }
  .item_price {
    width: 200rem/$k;
  }
  .item_full_price {
    width: 200rem/$k;
  }
  .item_quantity {
    display: inline-block;
    font-size: 13rem/$k;
    text-align: center;
    width: 50rem/$k;
  }
  .order_total {
    color: #33691e;
    font-size: 24rem/$k;
    font-weight: 500;
    margin-top: 30rem/$k;
    text-align: center;
  }
}