// Коэффициент перевода в em
$k: 16;

.basket_list {
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  font-size: 18rem/$k;
  font-weight: normal;
  margin-top: 30rem/$k;
  padding-left: 35rem/$k;
  padding-right: 24rem/$k;
  .basket_item {
    display: flex;
    margin: 0;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    padding: 7px;
    background-color: #f0f4c3;
  }
  .basket_icon {
    color: #33691e;
    margin-right: 18rem/$k;
    height: 36rem/$k;
    width: 36rem/$k;
  }
  h2 {
    font-size: 24rem/$k;
    font-weight: normal;
  }
  .items_title {
    display: flex;
    align-items: center;
    color: #33691e;
    font-size: 12rem/$k;
    padding-left: 60rem/$k;
    padding-bottom: 10rem/$k;
    margin-top: 0;
    margin-bottom: 0;
    span {
      display: inline-block;
      text-align: center;
    }
    span:first-child {
      text-align: left;
    }
    .table_title {
      width: 180rem/$k;
      padding-left: 30rem/$k;
    }
    .table_price {
      width: 100rem/$k;
    }
    .table_counter {
      width: 132rem/$k;
    }
    .table_total {
      width: 134rem/$k;
    }
  }
  img {
    height: 46rem/$k;
    width: 54rem/$k;
  }
  .item_name, .item_price, .item_full_price {
    color: #33691e;
    text-align: center;
  }
  .item_name {
    width: 180rem/$k;
    padding-left: 15rem/$k;
    text-align: left;
  }
  .item_price {
    width: 100rem/$k;
  }
  .item_full_price {
    width: 140rem/$k;
  }
  .item_quantity {
    font-size: 13rem/$k;
    text-align: center;
    width: 50rem/$k;
  }
  .order_total {
    color: #33691e;
    font-size: 24rem/$k;
    font-weight: 500;
    margin-top: 30rem/$k;
    text-align: center;
  }
  .table_delete, .item_delete {
    margin-left: auto;
  }
  .add_button, .remove_button, .item_delete {
    color: #fff;
  }
  @media (max-width: 1920px) {
    font-size: 14rem/$k;
    .order_total {
      font-size: 18rem/$k;
    }
  }
  @media (max-width: 1280px) {
    padding-left: 24rem/$k;
  }
}