// Коэффициент перевода в em
$k: 16;

.buyer_item {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  font-size: 16rem/$k;
  font-weight: normal;
  color: #558b2f;
  height: 68rem/$k;
  margin-bottom: 7rem/$k;
  margin-top: 7rem/$k;
  padding: 7rem/$k 26rem/$k;
  text-align: center;
  .order_date {
    padding-right: 5rem/$k;
    text-align: left;
    width: 100rem/$k;
  }
  .order_seller {
    padding-left: 5rem/$k;
    padding-right: 5rem/$k;
    width: 150rem/$k;
  }
  .order_total {
    padding-left: 10rem/$k;
    text-align: left;
    width: 250rem/$k;
  }
  .open_order_button {
    margin: 0 30rem/$k;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-size: 16rem/$k;
    width: 200rem/$k;
  }
  .order_status {
    margin-left: auto;
  }
  @media (max-width: 1920px) {
    font-size: 12rem/$k;
    height: 45rem/$k;
    padding: 5rem/$k 19rem/$k;
    .order_seller {
      width: 120rem/$k;
    }
    .open_order_button {
      font-size: 12rem/$k;
      margin: 0 15rem/$k;
      width: 150rem/$k;
    }
    .order_total {
      padding-left: 5rem/$k;
      width: 200rem/$k;
    }
  }
  @media (max-width: 1280px) {
    font-size: 12rem/$k;
    height: 40rem/$k;
    padding: 5rem/$k 5rem/$k;
    .open_order_button {
      margin: 0 5rem/$k;
    }
  }
  @media (max-width: 960px) {
    .order_date {
      width: 80rem/$k;
    }
    .order_seller {
      width: 100rem/$k;
    }
  }
}