// Коэффициент перевода в em
$k: 16;
.catalogItem {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 250rem/$k;
  margin-left: 20rem/$k;
  margin-top: 20rem/$k;
}
.description {
  text-align: center;
}
.title {
  color: #34495e;
  font-size: 18rem/$k;
  height: 50rem/$k;
  margin-top: 0;
  margin-bottom: 0;
}
.price {
  color: #33691e;
  font-size: 24rem/$k;
  height: 40rem/$k;
  margin-top: 0;
  margin-bottom: 0;
}