// Коэффициент перевода в em
$k: 16;
.load_info {
  color: #558b2f;
  text-align: center;
}
.no_money {
  display: flex;
  margin: 0 auto 100rem/$k auto;
  flex-direction: column;
  text-align: center;
  color: #558b2f;
  width: 400rem/$k;
  .no_money_buttons {
    margin-bottom: 15rem/$k;
  }
}
.basket_page {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  padding-bottom: 100em/$k;
  @media (max-width: 1440px) {
    grid-template-columns: 5% 90% 5%;
  }
  @media (max-width: 1280px) {
    grid-template-columns: 15% 70% 15%;
  }
  @media (max-width: 1020px) {
    grid-template-columns: 5% 90% 5%;
  }
}
.basket_container {
  display: grid;
  grid-template-columns: 71% 29%;
  @media (max-width: 1280px) {
    grid-template-columns: 100%;
  }
}