// Коэффициент перевода в em
$k: 16;
.about_page {
  display: grid;
  background: url('../../imgs/grass.png') left bottom repeat-x;
  color: #33691e;
  font-size: 18rem/$k;
  font-weight: normal;
  grid-template-columns: 15% 70% 15%;
  min-height: 927rem/$k;
  padding-top: 35rem/$k;
  h2 {
    color: #588444;
    font-size: 24rem/$k;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .info {
    height: 425rem/$k;
    max-width: 700rem/$k;
  }
}