// Коэффициент перевода в em
$k: 16;

.searcher {
  display: flex;
  margin-left: 20em/$k;
  position: relative;
  label
  {
    position: absolute;
    color:#558b2f;
    top: 14rem/$k;
    left: 25rem/$k;
  }
  :focus ~ label
  {
    opacity: 0;
  }
  :not(:placeholder-shown) ~ label {
    opacity: 0;
  }
  input {
    flex: 1;
    font-size: 18rem/$k;
    font-weight: normal;
    height: 50rem/$k;
    color: #558b2f;
    padding-left: 20em/$k;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  button {
    height: 50rem/$k;
    color: #34495e;
    background-color: #eeff41;
    border-radius: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}