// Коэффициент перевода в em
$k: 16;

.seller_items {
  .seller_items_header {
    display: flex;
    align-items: center;
  }
  .my_orders_icon {
    height: 24rem/$k;
    width: 26rem/$k;
  }
  h2 {
    display: inline;
    font-size: 18rem/$k;
    font-weight: normal;
    color: #33691e;
  }
  .sell_button {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }
  .total_items {
    color: #558b2f;
  }
}