// Коэффициент перевода в em
$k: 16;

.catalog_items {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-top: 22em/$k;
  @media (max-width: 1280px) {
    grid-template-columns: 33% 33% 33%;
  }
  @media (max-width: 960px) {
    grid-template-columns: 50% 50%;
  }
}
.load_info, .currentPage {
  color: #558b2f;
}
.pagination {
  text-align: right;
}