// Коэффициент перевода в em
$k: 16;

.leftMenu {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 18px;
}
.catalogMenuItem {
  span {
    color: #34495e;
  }
}
.categoryIcon {
  height: 36rem/$k;
  width: 36rem/$k;
}