// Коэффициент перевода в em
$k: 16;

header {
  display: grid;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 95px;
  grid-template-columns: 15% 50% 20% 15%;
  grid-template-rows: 3em;
  @media (max-width: 1440px) {
    height: 81px;
  }
}

.menu_buttons {
  padding-top: 23em/$k;
  text-align: right;
}

.login_button {
  margin-left: 10px;
}