// Коэффициент перевода в em
$k: 16;

header {
  display: grid;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 95px;
  grid-template-columns: 15% 21% 33% 16% 15%;
  grid-template-rows: 3em;
  @media (max-width: 1920px) {
    height: 81px;
  }
  @media (max-width: 1440px) {
    grid-template-columns: 5% 21% 49% 20% 5%;
  }
  @media (max-width: 1280px) {
    grid-template-columns: 5% 21% 40% 29% 5%;
  }
  @media (max-width: 960px) {
    grid-template-columns: 5% 21% 45% 24% 5%;
  }
}
.goto_main {
  background: url('../../imgs/logo.png') no-repeat;
  background-size: 304px 75px;
  height: 75px;
  width: 304px;
  @media (max-width: 1920px) {
    background-size: 215rem/$k 53rem/$k;
    height: 53px;
    width: 215px;
    margin-top: 12px;
  }
}
.menu_buttons {
  padding-top: 23em/$k;
  text-align: right;
}
.basket_button {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.login_button {
  margin-left: 10px;
}