// Коэффициент перевода в em
$k: 16;

footer {
  display: grid;
  background-color: #fff;
  color: #558b2f;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 3em;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18rem/$k;
  @media (max-width: 1920px) {
    font-size: 13rem/$k;
  }
  @media (max-width: 1440px) {
    font-size: 12rem/$k;
    grid-template-columns: 5% 90% 5%;
  }
}