// Коэффициент перевода в em
$k: 16;

.sell_orders_content {
  margin-top: 0;
  padding-top: 20rem/$k;
  height: 620rem/$k;
  @media (max-width: 1920px) {
    height: 430rem/$k;
  }
  @media (max-width: 1280px) {
    height: 384rem/$k;
  }
}