// Коэффициент перевода в em
$k: 16;

.load_info {
  color: #558b2f;
  text-align: center;
}
.main_page {
  display: grid;
  grid-template-columns: 15% 20% 50% 15%;
  padding-top: 30em/$k;
  padding-bottom: 100em/$k;
  @media (max-width: 1440px) {
    padding-top: 25em/$k;
  }
}